<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="HOME_LOG" value="${user.home}/demoProjectLogs/tasosApp.log"/>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${user.home}/demoProjectLogs/archived/tasosApp.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>1GB</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <springProperty scope="context" name="azureStorageConnectionString" source="azure-storage-connection-string"/>
    <springProperty scope="context" name="azureStorageContainerName" source="azure-storage-container-name"/>
    <springProperty scope="context" name="azureBlobLoggingEnabled" source="azure-blob-logging-enabled"/>

    <!-- Define AZURE_BLOB appender only when both properties are present and the azure-blob-logging-enabled flag is enabled-->
    <if condition='isDefined("azureStorageConnectionString") &amp;&amp; isDefined("azureStorageContainerName") &amp;&amp; "${azureBlobLoggingEnabled}" == "true"'>
        <then>
            <appender name="AZURE_BLOB" class="com.tasos.demo.logging.AzureBlobAppender">
                <connectionString>${azureStorageConnectionString}</connectionString>
                <containerName>${azureStorageContainerName}</containerName>
                <blobNamePattern>tasosApp-%d{yyyy-MM-dd}.log</blobNamePattern>
                <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                    <level>INFO</level>
                </filter>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>${LOG_PATTERN}</pattern>
                </layout>
            </appender>
        </then>
    </if>

    <!-- Base loggers without conditional references (to satisfy Logback 1.4 restrictions) -->
    <logger name="com.tasos.demo" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

    <!-- If Azure properties exist, redefine logger and root to include AZURE_BLOB -->
    <if condition='isDefined("azureStorageConnectionString") &amp;&amp; isDefined("azureStorageContainerName")'>
        <then>
            <logger name="com.tasos.demo" level="DEBUG" additivity="false">
                <appender-ref ref="CONSOLE"/>
                <appender-ref ref="AZURE_BLOB"/>
                <appender-ref ref="FILE"/>
            </logger>

            <root level="INFO">
                <appender-ref ref="CONSOLE"/>
                <appender-ref ref="AZURE_BLOB"/>
                <appender-ref ref="FILE"/>
            </root>
        </then>
    </if>
</configuration>